/* PAGE BACKGROUND */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #e6e3e3;
    color: #222;
}

/* HEADER */
header {
    text-align: center;
    padding: 25px 0;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

/* MAIN CONTAINER */
.container {
    width: 90%;
    margin: 40px auto;
    background: white;
    border-radius: 18px;
    padding: 25px;
    display: flex;
    gap: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* LEFT IMAGE SECTION */
.left-section {
    width: 40%;
}

.main-photo {
    width: 100%;
    height: 330px;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.thumbnail-box {
    display: flex;
    gap: 10px;
    margin-top: 12px;
}

.thumbnail-box img {
    width: 80px;
    height: 80px;
    border-radius: 12px;
    cursor: pointer;
    object-fit: cover;
    border: 2px solid #aaa;
    transition: 0.3s;
}

.thumbnail-box img:hover {
    transform: scale(1.05);
    border-color: #ff9000;
}

/* RIGHT DETAILS */
.content-box {
    width: 60%;
}

.content-box h2 {
    margin-top: 0;
}

.hire-btn {
    margin-top: 10px;
    background:  #ff9800;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.hire-btn:hover {
    background: #ff9900;
}

/* BOTTOM SECTION */
.bottom-section {
    width: 90%;
    margin: 40px auto;
    background: white;
    border-radius: 18px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.bottom-section h2 {
    margin-bottom: 10px;
}

/* COMMENTS */
.comment-box {
    background: #f7f7f7;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
    border-left: 4px solid #ff9900;
}

/* REVIEW BOX */
.review-section {
    margin-top: 20px;
    padding: 20px;
    background: #fafafa;
    border-radius: 12px;
}

.rating-select,
.review-section textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.review-btn {
    margin-top: 10px;
    background: #4b00ff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.review-btn:hover {
    background: #3800cc;
}

/* RECOMMENDED WORKERS */
.recommend {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.rec-card {
    width: 150px;
    background: #ffffff;
    border-radius: 14px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.rec-card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 12px;
}

.rec-card:hover {
    transform: scale(1.05);
}